body {
  padding-top:50px
}
.glyphicon-remove:hover {
  cursor:pointer
}

.panel-timeslot {
  float: left;
  margin-right: 1.33%;
  width: 24%;
}

.panel-timeslot:nth-child(4) {
  margin-right: 0;
}

ul {
  margin-bottom: 0;
}
