<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Sign Up for the 24 Hours of Prayer!</h3>
    </div>
    <div class="panel-body">
      <form name="personForm" novalidate ng-submit="addPerson()">
        <div class="row">
          <div class="form-group col-xs-3">
            <label for="timeSlotId">Timeslot:</label>
            <select name="timeSlotId" ng-model="newPerson.timeslotId" required class="form-control">
              <option value="">---Please Select---</option>
              <option ng-repeat="timeslot in timeslots" value="{{timeslot.id}}">{{localtime(timeslot.time)}}</option>
            </select>
          </div>
          <div class="form-group col-xs-3">
            <label for="name">Your Name:</label>
            <input type="text" class="form-control focus" name="name"
                   placeholder="Name" autocomplete="off" required
                   ng-model="newPerson.name">
          </div>
          <div class="form-group col-xs-4">
            <label for="email">Your Email:</label>
            <input type="email" class="form-control focus" name="email"
                   placeholder="E-Mail" autocomplete="off" required
                   ng-model="newPerson.email">
          </div>
          <div class="form-group col-xs-2">
            <label>&nbsp;</label>
            <button class="btn btn-primary form-control" ng-disabled="personForm.$invalid">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div ng-repeat="timeslot in timeslots" ng-if="$index % 4 == 0" class="row">
  <div class="panel panel-default panel-timeslot">
    <div class="panel-heading">
      <h3 class="panel-title">{{ localtime(timeslots[$index].time) }}</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="person in timeslots[$index].people">{{ person.name }}</li>
      </ul>
    </div>
  </div>
    <div class="panel panel-default panel-timeslot">
    <div class="panel-heading">
      <h3 class="panel-title">{{ localtime(timeslots[$index+1].time) }}</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="person in timeslots[$index+1].people">{{ person.name }}</li>
      </ul>
    </div>
  </div>
    <div class="panel panel-default panel-timeslot">
    <div class="panel-heading">
      <h3 class="panel-title">{{ localtime(timeslots[$index+2].time) }}</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="person in timeslots[$index+2].people">{{ person.name }}</li>
      </ul>
    </div>
  </div>
    <div class="panel panel-default panel-timeslot">
    <div class="panel-heading">
      <h3 class="panel-title">{{ localtime(timeslots[$index+3].time) }}</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="person in timeslots[$index+3].people">{{ person.name }}</li>
      </ul>
    </div>
  </div>
</div>
